@import "src/styles/mixins/colors.scss";
@import "src/styles/mixins/padding.scss";
@import "src/styles/mixins/fonts.scss";


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gradientBlue-color;
}


.container {
    color: white;
    width: 60rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: auto;
    align-items: center;
}

.icon {
    display: none;
    width: 4em;
    height: 4em;

    justify-self: flex-end;



}

.logotipo {

    img {
        width: 10em;
        height: auto;
        border-radius: 50%;
        transition: 0.3s;
    }

    img:hover {
        transform: scale(1.2);
        filter: drop-shadow(0px 0px 5px rgb(19, 122, 170));
        box-shadow: 0 0 50px $darkBlue-color;
    }
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 0 2em;

    a {
        transition: 0.3s;
        font-family: $font-family-roboto;
    }

    a:hover {
        border-radius: 5px;
        padding: 0.5em;
        background-color: $accent-color;
    }
}

.hidden {
    display: none;
}

.expanded {
    display: flex;
    flex-direction: column;
    align-items: start;
}


.action {
    text-align: end;
}

@media (max-width: 780px) {

    .icon {
        display: block;
    }

    .menu {
        grid-area: 2 / 1 / 2 / 3;
        flex-direction: column;
        align-items: start;
        display: none;
    }

}