@import "src/styles/mixins/colors.scss";

.container {
    padding: 34px 180px;
    width: 100%;
    background-color: $blue-color;
    border-bottom: 0.5px solid $gray-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    font-size: 22px;

    a+a {
        margin-left: 38.9px;
    }
}

.button {
    padding: 15px 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
}