@import "src/styles/mixins/colors.scss";
@import "src/styles/mixins/padding.scss";

.container {
    @include Padding;
    color: #ffffff;
    padding-top: 34px;
    padding-bottom: 34px;

    width: 100%;
    background: linear-gradient(#407193, #003459, );

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
}

.logotipo {
    margin-right: 750px;
}

.menu {
    font-size: 32px;

    a+a {
        margin-left: 38.9px;
    }
}