@import "/src/styles/mixins/colors.scss";

.button {
  padding: 15px 50px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: all 300ms ease;

  &.primary {
    background-color: $blue-color;
    color: white;
  }

  &.secundary {
    background-color: #00171f;
    color: $white-color;
  }

  &.full {
    padding: 21px;
    width: 100%;
    font-weight: 600;
    background-color: $blue-color;
    color: white;
  }

  @media (max-width: 600px) {
    font-size: 0.5rem;
  }

  &:hover {
    background-color: $accent-color;
  }
}
