.area {
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.circles li {
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  bottom: -150px;

  img {
    width: inherit;
    height: inherit;
    filter: invert(74%) sepia(22%) saturate(1402%) hue-rotate(335deg)
      brightness(101%) contrast(96%) drop-shadow(0px 0px 50px #faab51a6);
  }
}

@for $i from 1 through 100 {
  $rand: random(170) - 15 + px;
  $left: percentage(
    random(
        $limit: 100,
      ) /
      100
  );
  $top: percentage(
    random(
        $limit: 150,
      ) /
      100
  );
  .circles li:nth-child(#{$i}) {
    left: $left;
    top: $top; 
    width: $rand;
    height: $rand;
  }
}
