@import "src/styles/mixins/colors.scss";
@import "src/styles/mixins/size.scss";

.select {
  @include Size;
  width: 27rem;
  margin: 1rem 0;
  color: black;
  background-color: #dfdfdf;

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 0 0 10px #faaa51;
    outline: none;
    transition: all 0.3s ease;
  }

  @media (max-width: 600px) {
    font-size: 1rem;
    width: 15rem;
  }
}