@import "src/styles/mixins/colors.scss";
@import "src/styles/mixins/fonts.scss";

.socialTriggersSlice {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  align-items: center;
  font-family: $font-family-roboto;
}

.socialTriggersSectionTitle {
  margin: 0;
  font-size: 3.5rem;
}

.triggerCardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.triggerCard {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: calc(33.33% - 10px);
  min-width: 250px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0;
  transition: 0.5s cubic-bezier(0.18, 0.89, 0.6, 1.59);
}

.triggerCard:hover {
  box-shadow: 0px 0px 50px 0px $gear-color;
  transform: scale(1.1);
}

.socialTriggerNumber {
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.socialTriggerDescription {
  margin-top: 10px;
  color: #666;
  font-size: 1.5rem;
  overflow-wrap: break-word;
}

@media screen and (max-width: 1100px) {
  .triggerCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .triggerCard {
    width: calc(50% - 20px);
  }

  .triggerCardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
