@import "../../styles/mixins/colors.scss";

.main {
  display: flex;
  flex-direction: row;
}

.react_calendar {
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 50%;
  float: right;
}

.date {
  position: sticky;
  top: 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: $blue-color;
}

.arrow {
  width: 2rem;
  height: 2rem;
}

.arrowWrapper {
  display: flex;
  justify-content: space-between;
}
