@import "../../styles/mixins/colors.scss";

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  align-items: start;
  gap: 2rem;
  justify-content: space-between;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 50%;
  float: right;
  box-sizing: border-box;
}

.date {
  position: sticky;
  top: 0;
  margin-top: 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: $blue-color;

  transition: all 300ms;
}

.arrow {
  width: 2rem;
  height: 2rem;
}

.arrowWrapper {
  display: flex;
  justify-content: space-between;
}
