@import "src/styles/mixins/colors.scss";
@import "src/styles/mixins/size.scss";

.input {
  @include Size;
  width: 25rem;
  margin: 1rem 0;
  color: black;
  background-color: #dfdfdf;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 0 0 10px $gear-color;
    outline: none;
  }

  @media(max-width: 600px) {
    font-size: 1rem;
    width: 13rem;
  }
}