@import "../styles/mixins/fonts.scss";

.description {
      width: 100%;
      z-index: 3;
      position: relative;
}

.Loading {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content:  center;
      align-items: center;

      h1 {
            color: white;
            font-family: $font-family-roboto
      }
}