@import "./src/styles/mixins/padding.scss";


.container {
    @include Padding;
    height: 100%;
    padding: 219px;
    background-image: url("/estilizado.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.text {
    h1 {
        font-weight: bold;
        font-size: 71px;
    }

    p {
        font-size: 30px;
        opacity: 0.7;
    }
}

.image {
    text-align: end;
}