@import "../../../styles/mixins/fonts.scss";

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

    h1, p {
        font-family: $font-family;
    }

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
  }
}
