@import "/src/styles/mixins/padding.scss";
@import "/src/styles/mixins/colors.scss";
@import "/src/styles/mixins/responsive.scss";
@import "src/styles/mixins/fonts.scss";

.container {
  @include Padding;
  padding-top: 72px;
  background-color: $blue-color;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include Phone {
    grid-template-columns: 1fr;
    padding-top: 1rem;
    gap: 1rem;
  }
}

.column {
  margin-top: 4.5rem;
  font-family: $font-family-roboto;

  &.columnPrincipal {
    margin-top: 0px;
  }

  .title {
    color: $white-color;
  }

  h1 {
    color: $accent-color;
  }

  &.alignRight {
    text-align: right;
  }

  .icons {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
  }

  @include Phone {
    margin-top: 0px;

    &.alignRight {
      display: flex;
      text-align: left;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

.allRightReserved {
  padding: 6rem 0 1rem;
  color: $gray-color;
  grid-column: span 4;
  text-align: center;

  @include Phone {
    grid-column: 1;
  }
}