@import "/src/styles/mixins/colors.scss";

.button {
  padding: 15px 50px;
  border-radius: 5px;
  font-weight: bold;
  border: none;

  &.primary {
    background-color: $blue-color;
    color: white;
  }

  &.secundary {
    background-color: $gray-color;
    color: $blue-color;
  }

  &.full {
    padding: 21px;
    width: 100%;
    font-weight: 600;
    background-color: $blue-color;
    color:white;
  }

  @media(max-width: 600px){
    font-size: 0.5rem;
  }
}