$blue-color: #003459;
$gray-color: #afafaf;
$white-color: #ffffff;
$accent-color: #00a8e8;
$whitesmoke-color: #f5f5f5;
$darkBlue-color: #137aaa48;
$darkBlue-color-disable: #082b3b;
$gradientBlue-color: linear-gradient(#407193, $blue-color);
$gear-color: #faaa51;
