@mixin Phone {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin Tablet {
  @media screen and (max-width: 950px) and (min-width: 601px) {
    @content;
  }
}

@mixin Laptop {
  @media screen and (max-width: 1600px) and (min-width: 951px) {
    @content;
  }
}